@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F6F1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* .logo-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
  } */
  
  /* .background-image {
	position: relative;
	height: 60%;
	width: 60%;
	padding-left: 3%;
	padding-top: 7%;
  } */
  

  /* .right-image {
	height: 60%;
	width: 60%;
	justify-self: end; 
  } */